/*=====procedure part======*/
#procedure-part {
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0px;
}
.step-part {
  float: left;
  width: 33.33333333%;
  height: 50px;
  padding-top: 20px;
  color: #fff;
}
.line {
  width: 100%;
  height: 4px;
  background-color: #ccc;
}
.circle {
  width: 20px;
  height: 20px;
  margin-left: 47%;
  margin-top: -12px;
  border-radius: 50%;
  text-align: center;
  background-color: #ccc;
}
.step-part p {
  margin-top: 5px;
  text-align: center;
  color: #424242;
}
.step-part.active .line {
  background-color: rgb(46,94,150);
}
.step-part.active .circle {
  background-color: rgb(46,94,150);
}
/*=======pay list=======*/
#pay-list {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
#my-money {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
}
#my-money>p {float: left;}
#my-money>button {
  float: right;
  width: 120px;
}
#product-money {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 20px;
}


